<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="authstyle.css">
</head>
<body>
    <h1><%= message %></h1>
    <fieldset>
        <form action="" method="POST">
            <label for="uname">Username : </label>
            <input type="text" id="uname" name="username">
            <br>
            <br>
            <label for="pass">Password : </label>
            <input type="password" id="pass" name="password">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
        <a href="signup"><button>Create Account</button></a>
    </fieldset>
</body>
</html>